html {
    background: url(one-page-responsive-layout_template.png);
    background-repeat: no-repeat;
    min-height: 4449px;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #383E4C;
    /* background-color: magenta; */
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0 16px 0;
    z-index: 5;
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
    margin: 0 10px;
    border: 1px solid #646d7c;
    padding: 15px 25px 13px;
}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
}

header {
  background-image: url("img/bg-1.jpg");
  /* background-position: center center; */
  background-position: 100% 27%;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 235px 0; */
  /* margin-bottom: 60px; */
  background-attachment: fixed;
  background-size: 100% auto;
  /* opacity: 0.5; */
}

header .intro {
    position: relative;
    text-align: center;
    padding: 245px 0 240px;
}

header .intro h1 {
    margin: 0;
    font-weight: 400;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

header .intro h2 {
    margin: 0;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    top: -2px;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

main {
    position: relative;
    background-color: white;
    padding: 70px 100px;
}
