html {
    background: url(one-page-responsive-layout_template.png);
    background-repeat: no-repeat;
    min-height: 4449px;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header {
  background-image: url("img/bg-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  background-attachment: fixed;
  background-size: 100% 100%;
} */

header nav {
    /* background-color: #383E4C; */
}

header nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 10px 8px 0;
    border: 1px solid #646d7c;
    padding: 15px 25px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
}

header h1 {
    text-transform: uppercase;
}
