/* GENERAL STYLING */

/* html {
    background: url(one-page-responsive-layout_template.png);
    background-repeat: no-repeat;
    min-height: 4449px;
} */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.cd-fixed-bg {
    /* background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto; */

    /* position: relative; */
    /* min-height: 100vh; */
    /* min-height: 50vh; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: auto 297px; */
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-position: 100% auto; */
    /* z-index: 1; */

    /* background-size: 100% auto; */
    background-attachment: fixed;

    /* background-size: 100% contain; */
}

::placeholder {
    font-size: 14px;
    color: #000;
}

/* MODULAR STYLING */
/* BACKGROUND IMAGES */

.cd-fixed-bg.cd-fixed-bg-1 {
    background-image: url("img/bg-1.jpg");
    /* min-height: 50vh;
    background-size: auto 100%;
    left: 50%;
    transform: translateX(-50%);
    position: relative; */
}

.cd-fixed-bg.cd-fixed-bg-2 {
    background-image: url("img/bg-2.jpg");
}

.cd-fixed-bg.cd-fixed-bg-3 {
    background-image: url("img/bg-3.jpg");
}

/* MODULAR STYLING */
/* HEADER AND NAV */

header menu {
    background-color: #333;
    position: fixed;
    /* float: right; */
    top: 8px;
    right: 15px;
    padding: 10px 11px;
    border-radius: 4px;
    margin: 0;
    z-index: 1;
}

header menu span {
    display: block;
    background-color: #fff;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
}

header menu span:last-child {
    margin-bottom: 0;
}

header nav {
    display: none;
}

/* MODULAR STYLING */
/* SECTION 1 */

.section-1 {
    /* padding: 245px 0 240px; */
    /* padding: 55px 0 50px; */
    padding: 97px 0 92px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.section-1 .intro {
    position: relative;
    text-align: center;
}

.section-1 .intro h1 {
    margin: 0;
    font-weight: 400;
    /* font-size: 70px; */
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.section-1 .intro h2 {
    margin: 0;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 1px 1px #333;
    /* top: -1px; */
    /* position: relative; */
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

/* MODULAR STYLING */
/* SECTION 2 ROW 1 */

.section-2 {
    padding: 70px 0 60px;
}

.section-2 .row-1 {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.section-2 .row-1 .col-3 {
    max-width: 360px;
    margin: 0 15px 30px;
    background-color: #f2f2f2;
}

.section-2 .row-1 .col-3 h3, .section-2 .row-1 .col-3 p {
    padding: 0 20px;
    text-align: left;
}

.section-2 .row-1 .col-3 h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    color: #666;
}

.section-2 .row-1 .col-3 p {
    margin: 0;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 1.6em;
    color: #333;
}

/* MODULAR STYLING */
/* SECTION 2 ROW 1 BUTTONS */

.section-2 .row-1 .col-3 .green-h2 {
    color: #178A27;
}

.section-2 .row-1 .col-3 .blue-h2 {
    color: #1686C1;
}

.section-2 .row-1 .col-3 button {
    margin: 0 0 30px 0;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: capitalize;
    /* letter-spacing: 0.02em; */
    letter-spacing: 0.05em;
}

.section-2 .row-1 .col-3 .btn {
    color: white;
}

.section-2 .row-1 .col-3 .green-btn {
    background-color: #178A27;
}

.section-2 .row-1 .col-3 .blue-btn {
    background-color: #1686C1;
}

.section-2 .row-1 .col-3 .red-btn {
    background-color: #852406;
}

/* MODULAR STYLING */
/* SECTION 2 ROW 2 */

.section-2 .row-2 {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.section-2 .row-2 .col-2 {
    min-width: 345px;
    max-width: 555px;
    margin: 60px 15px 0;
    padding-bottom: 30px;
    background-color: #f2f2f2;
}

.section-2 .row-2 .col-2 h3 {
    margin: 20px 0 10px;
    padding: 0 20px;
    font-size: 20px;
    color: #666;
    text-transform: capitalize;
}

.section-2 .row-2 .col-2 p {
    margin: 0;
    padding: 27px 27px 16px 27px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    color: #333;
}

/* MODULAR STYLING */
/* SECTION 2 ROW 2 BUTTON */

.section-2 .row-2 .col-2 button {
    /* margin-left: 225px; */
    border-radius: 10px;
    padding: 12px 30px;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #666;
}

/* MODULAR STYLING */
/* SECTION 3 */

.section-3 {
    padding: 60px 15px 84px;
}

.section-3 .services {
    position: relative;
    text-align: center;
}

.section-3 .services h2 {
    margin: 0 0 17px 0;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
}

.section-3 .services p {
    margin: 0;
    font-weight: 400;
    color: #fff;
    top: -2px;
    position: relative;
    font-size: 18px;
    line-height: 1.6em;
}

/* MODULAR STYLING */
/* SECTION 4 */

.section-4 {
    padding: 60px 0;
}

.section-4 .row-1 {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.section-4 .row-1 .container {
    padding: 0 15px;
}

.section-4 .row-1 .container .col-4 {
    display: inline-block;
    max-width: 260px;
    height: 505px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
}

.section-4 .row-1 .container .col-4 .content-left h3, .section-4 .row-1 .container .col-4 .content-right h3 {
    margin: 20px 0 10px;
    padding: 0 20px;
    font-size: 20px;
    color: #666;
    text-transform: capitalize;
}

.section-4 .row-1 .container .col-4 .content-left p, .section-4 .row-1 .container .col-4 .content-right p {
    margin: 0;
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    color: #333;
}

.section-4 .row-1 .col-4 .content-left button, .section-4 .row-1 .col-4 .content-right button {
    /* margin-left: 225px; */
    margin: 15px 0 20px;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #666;
    text-transform: capitalize;
}

.section-4 .row-2 {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.section-4 .row-2 .col-1 {
    float: left;
    max-width: 1140px;
    margin: 0 15px;
    background-color: #f2f2f2;
}

.section-4 .row-2 .col-1 .container {
    padding: 30px;
}

.section-4 .row-2 .col-1 .container h3 {
    margin: 20px 0 10px;
    font-size: 20px;
    color: #666;
    text-transform: capitalize;
}

.section-4 .row-2 .col-1 .container p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.6em;
    color: #333;
}

.section-4 .row-2 .col-1 .container button {
    margin: 15px 0 0 0;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #666;
    text-transform: capitalize;
}

.section-5 {
    padding: 60px;
}

.section-5 .contact-form {
    position: relative;
    text-align: center;
}

.section-5 .contact-form h2 {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #333;
}

.section-5 .contact-form p {
    display: inline-block;
    max-width: 720px;
    background: rgba(242, 242, 242, 0.4);
    border-radius: 5px;
    padding: 20px 48.5px;
    margin: 0 0 20px 0;
    line-height: 1.6em;
}

.section-5 .contact-form form {
    display: inline-block;
    width: 100%;
}

.section-5 .contact-form form .container {
    display: inline-block;
    max-width: 720px;
}

.section-5 .contact-form form .container .content {
    display: inline-block;
    float: left;
    width: 50%;
}

.section-5 .contact-form form .container .content-left {
    padding-right: 15px;
}

.section-5 .contact-form form .container .content-right {
    padding-left: 15px;
}

.section-5 .contact-form form .container .content input {
    float: left;
    width: 345px;
    height: 34px;
    background: rgba(242, 242, 242, 0.4);
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    outline: none;
    font-size: 14px;
}

.section-5 .contact-form form .container .content textarea {
    float: left;
    width: 345px;
    height: 132px;
    background: rgba(242, 242, 242, 0.4);
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}

.section-5 .contact-form form .container .content button {
    float: left;
    background-color: #262628;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: capitalize;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 35px 0 30px;
}

footer h2 {
    margin: 0;
    margin-bottom: 25px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 32px;
    font-style: italic;
    line-height: 1.1;
    color: #666;
}

footer .content {
    /* font-weight: 500; */
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.6em;
    color: #999;
}

footer hr {
    margin: 50px 0 30px 0;
    border: 0;
    border-top: 1px solid #eee;
}

footer .copyright {
    margin: 0;
    padding: 0 15px;
    font-size: 12px;
    line-height: 1.6em;
    color: #666;
}

footer .copyright a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}

/* MEDIA QUERIES */
/* MOBILE WIDE */

/* @media only screen and (min-width: 480px) and (max-width: 767px) */
@media only screen and (min-width: 480px) {
    .section-1 {
        padding: 160px 0 155px;
    }

    .section-1 .intro h1 {
        font-size: 70px;
    }
}

/* MEDIA QUERIES */
/* 521px */

@media only screen and (min-width: 521px) {
    .section-4 .row-1 .container .content-left .col-4, .section-4 .row-1 .container .content-right .col-4 {
        float: left;
        width: auto;
        /* margin: 0 15px 30px; */
    }

    .section-4 .row-1 .container .content-left .col-4 {
        padding-right: 15px;
    }

    .section-4 .row-1 .container .content-right .col-4 {
        padding-left: 15px;
    }

    .section-4 .row-1 .container .col-4:first-child {
        /* float: left; */
        /* max-width: 260px; */
        /* height: 505px; */
        /* margin: 0 16.66px 30px 15px; */
        /* margin: 0 16.66px 30px 0; */
        /* background-color: #f2f2f2; */
        background-color: #000;
        /* max-width: auto; */
    }

    .section-4 .row-1 .container .col-4:last-child {
        /* max-width: 260px; */
        /* height: 505px; */
        /* margin: 0 15px 30px 16.66px; */
        /* margin: 0 0 30px 16.66px; */
        /* background-color: #f2f2f2; */
        /* max-width: auto; */
        margin-left: 16.66px;
    }
}

/* MEDIA QUERIES */
/* TABLET */

/* @media only screen and (min-width: 768px) and (max-width: 991px) */
@media only screen and (min-width: 768px) {
    header nav {
        display: block;
        background-color: #383E4C;
        position: fixed;
        top: 0;
        text-align: center;
        width: 100%;
        padding: 6px 0 12px 0;
        z-index: 5;
    }

    header nav ul {
        display: table;
        margin: 0 auto;
        padding: 0;
    }

    header nav ul li {
        display: inline;
        float: left;
        margin: 0 6px;
        border: 1px solid #646d7c;
        padding: 14px 25px 14px;
    }

    header nav ul li a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        color: #fff;
        line-height: 20px;
    }

    header menu {
        display: none;
    }

    .section-1 {
        padding: 245px 0 240px;
    }

    .section-2 .row-1 .col-3 {
        float: left;
        width: 220px;
        margin: 0 15px;
    }

    .section-2 .row-2 .col-2 {
        float: left;
        width: 345px;
        margin: 60px 15px 0;
        padding-bottom: 30px;
        background-color: #f2f2f2;
    }

    .section-3 {
        padding: 80px 15px 83px;
    }
}

/* MEDIA QUERIES */
/* TABLET WIDE */

@media only screen and (min-width: 992px) {
    header nav {
        display: block;
        background-color: #383E4C;
        position: fixed;
        top: 0;
        text-align: center;
        width: 100%;
        padding: 10px 0 16px 0;
        z-index: 5;
    }

    header nav ul {
        display: table;
        margin: 0 auto;
        padding: 0;
    }

    header nav ul li {
        display: inline;
        float: left;
        margin: 0 10px;
        border: 1px solid #646d7c;
        padding: 15px 25px 13px;
    }

    header nav ul li a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
    }

    .section-2 .row-1 .col-3 {
        width: 293.33px;
    }

    .section-2 .row-2 .col-2 {
        width: 455px;
    }

    .section-2 .row-2 .col-2 button {
        margin-left: 225px;
    }
  }

  /* MEDIA QUERIES */
  /* DESKTOP */

  @media only screen and (min-width: 1200px) {
      .section-2 .row-1 .col-3 {
          width: 360px;
      }

      .section-2 .row-2 .col-2 {
          width: 555px;
      }

      .section-3 {
          padding: 80px 15px 84px;
      }
  }
